php_value mbstring.func_overload 7
php_value mbstring.internal_encoding UTF-8
php_value default_charset UTF-8
php_value mbstring.http_output UTF-8
php_value mbstring.encoding_translation On
php_value mbstring.detect_order UTF-8

RewriteEngine On

# rewrite root for lan
RewriteCond %{HTTP_HOST} aviko.lan$
RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ public/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php [PT,L,QSA,NE]