html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position:relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background : #000000 url('../images/background_dashboard.jpg') no-repeat center center;
}

#main_container {
	width: 900px;
	margin: 0 auto 0 auto;
}

#main_container .row {
	float: left;	
}	

#main_container .box {
	position: relative;
	float:left;
	border: 1px solid #BABABA;
	/*background: #FFFFFF;*/
	width: 861px;		
	margin: 40px 18px 0 0;
	padding: 0 20px 0 19px;
}

.box .header {
	width:861px;
	height:40px;
	border-bottom: 1px solid #CCCCCC;	
	
	font-family: Arial;
	font-size: 20px;
	line-height: 52px;
	color: #EE7900;
	font-weight: bold;
}

table {
	margin: 20px 0 20px 0;	
}

table tr td {
	font-family: Arial;
	font-size: 20px;
	line-height: 35px;
	color: #FFFFFF;
}

table tr td.head {
	font-weight: bold;
	color: #EE7900;
}
table tr td.center {
	text-align: center;
}
.siol 	
{	
	color: #EE7900; 
	font-weight:bold;
}

h1, h2
{
	font-family: Arial;
	font-size: 35px;	
	font-weight:bold;		
}

h1 { color: #FF6600; } 
h2 { color: #FFFFFF; }

#main-menu {
  display: none;
}